*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
body{
    margin-top: 0;
}
.header{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 14px;
    background-color: #1B1B1B;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 100px;
    
}
.container{
    max-width: 1100px;
    margin-left: 180px;
    margin-right: 180px;
}
.orovchi{
    background-color: #080808;
    margin-right: auto;
    margin-left: auto;
}
a{
    font-size: larger;
    color: white;
    opacity: 30%;
    text-decoration: none;
    
}
.wrapper-header{
    position: relative;
    background-color: #080808;
}
.center-font{
    color: white;
    opacity: 30%;
    margin-top: 20px;

    
}
.center{
    padding-right: 180px;
    padding-left: 180px;
    padding-top: 40px;
    background-color: #080808;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: #3F8E00;
    padding: 15px 50px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
}
.right{
    margin-right: 50px;
    
}
.person{
    border-radius: 100%;
    width: 350px;
    height: 350px;
}
h1{
    color: white;
}
.footer-child{
    color: white;
    margin-top: 50px;
    font-size: 18px;
}
.icon{
    width: 35px;
}
.html{
    color: white;
    opacity: 30%;
    font-size: 18px;
}
.ending-child{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 30px;
}
.ending-paragraph{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 30px;
    gap: 20px;
}
.center-header{
    color: #080808;
}
.second-wrapper{
    margin-top: 40px;
}
.second{
    opacity: 60%;
}
.center-wrapper{
    text-align: center;
}
.container2{
    padding-left: 208px;
    padding-right: 208px;
}
.second-center{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.second-wrapper{
    background-color: white;
    margin-bottom: 50px;
}
.fintech{
    color: orange;
    padding-bottom: 20px;
}
.center-h2{
    padding-bottom: 20px;
}
.hello{
    background-color: orange;
    border: transparent;
    padding: 10px 30px;
}
.text{
    opacity: 60%;
}
.second-center-child{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.second{
    color: blue;
}
.green2{
    color: #2AB090;
}
.hello1{
    background-color: blue;
}
.hello3{
    background-color:  #2AB090;
}
.uchinchisi{
    padding-right: 30px;
    width: 440px;
}
.center-photo{
    width: 440px;
    padding-left: 30px;
}
.third-wrapper{
    padding-bottom: 40px;
    background-color: #080808;
}
.header-span{
    color: white;
    opacity: 60%;
    line-height: 1.6;
}
.header-section{
    text-align: center;
    padding-top: 60px;
}
.header-section-h{
    padding-bottom: 10px;
}
.wrapper-child{
    color: white;
    opacity: 60%;
}
.third{
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px 30px;
    border: 1px solid lightgray;
}
.client-name{
    color: white;
    font-size: 20px;
}
.clients{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.clent{
    padding-right: 15px;
}
.wrapper-me{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.wrapper-4{
    padding-top: 40px;
}
.forth-wrapper{
    background-color: white;
    padding-bottom: 40px;
}
.for-header{
    text-align: center;
}
.header-4{
    margin-bottom: 15px;
    color: #080808;
}
.problems{
    line-height: 1.6;
    font-size: 18px;
    opacity: 60%;
}
.childs{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.worl{
    padding-top: 20px;
    padding-bottom: 20px;
}
.lorem{
    font-size: 18px;
    opacity: 60%;

}
footer{
    background-color: #080808;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}
.footer-header{
    text-align: center;
    padding-bottom: 20px;
}
.header-footer{
    padding-bottom: 20px;
}
form{
    text-align: center;
    padding-bottom: 40px;

}
#email{
    padding: 20px 80px;
    border-radius: 10px;
    color: blue;
}
#mobile{
    padding: 20px 80px;
    border-radius: 10px;
    color: blue;
   
}

.email{
    margin-top: 20px;
}
.mobile, .message, .email{
    margin-top: 20px;
    
}
#message{
    padding: 40px 80px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: blue;

}
#submit{
    background-color: #3F8E00;
    padding: 10px 137px;
    margin-top: 10px;
    font-size: larger;
}
.footer{
    font-size: larger;
}
.footer-span{
    opacity: 60%;
}
#submit{
    color: white;
    border-radius: 10px;
}
.link{
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: red;
}
.linkim{
    color: yellow;
    opacity: 100%;
    text-shadow: #3F8E00;
}



